streamlit>=1.38.0
langchain>=0.3.0
langchain-community
langchain-ollama
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb>=0.5.0
pypdf>=4.0
python-docx
pymupdf
tqdm
